{% load static %}

<!--========================= footer-section start ========================= -->
<footer id="footer" class="footer-section pt-50 pb-50" aria-labelledby="footer-title">
    <div class="shape shape-3">
        <img src="{% static 'images/shape-3.svg' %}" alt="Hintergrundform" loading="lazy" aria-hidden="true">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="footer-info wow fadeInUp" data-wow-delay=".2s">
                    <h4 id="footer-title">Kontaktinformationen</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa-solid fa-map-location-dot"></i> Schleifweg 3, 04932 Prösen</li>
                        <li><i class="fa-solid fa-phone"></i> <a href="tel:+4935338217">+49 3533-8217</a></li>
                        <li><i class="fa-solid fa-envelope"></i> <a href="mailto:info@praxis.de">info@praxis.de</a></li>
                        <li><i class="fa-solid fa-globe"></i> <a href="https://www.ha-praxis.com" target="_blank">www.ha-praxis.com</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="footer-social wow fadeInUp" data-wow-delay=".4s">
                    <h4>Schnelllinks</h4>
                    <ul class="list-unstyled">
                        <li><a href="#about">Über Uns</a></li>
                        <li><a href="#services">Leistungen</a></li>
                        <li><a href="#gallery">Praxisrundgang</a></li>
                        <li><a href="#anfahrt">Anfahrt</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                    <a href="#top" class="back-to-top btn btn-teal mt-5 wow fadeInUp" data-wow-delay=".6s">Zurück nach oben <i class="fa-solid fa-arrow-up"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-4">
                <p class="text-white mb-0">&copy; 2025 Praxis Dipl. med. Hanaa Ahmad. Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </div>
</footer>
<!--========================= footer-section end ========================= -->