{% load static %}   

<!-- ========================= header start ========================= -->
<header id="home" class="header">

	<div class="header-wrapper">
			<div class="header-top theme-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header-top-left text-center text-md-left">
								<ul>
									<li>
										<a href="tel:+4935338217">
											<i class="fa-solid fa-phone-volume"></i>
											03533-8217
										</a>
									</li>
									<li>
										<a href="fax:+493533819983">
											<i class="fa-solid fa-fax"></i>
											03533-819983
										</a>
									</li>
								</ul>
							</div>
						</div>

						{% comment %}
						<div class="col-md-4">
							<div class="header-top-right d-none d-md-block">
								<ul>
									<li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
									<li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
									<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
								</ul>
							</div>
						</div>
						{% endcomment %}

					</div>
				</div>
			</div>
			<div class="navbar-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="navbar navbar-expand-lg">
								<a class="navbar-brand" href="{% url "base:index" %}">
									<img src="{% static "images/logo.png" %}" alt="Logo">
								</a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
									aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="toggler-icon"></span>
									<span class="toggler-icon"></span>
									<span class="toggler-icon"></span>
								</button>
			
								<div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
									<ul id="nav" class="navbar-nav ml-auto">
										<li class="nav-item active">
											<a class="page-scroll active" href="#home">Startseite</a>
										</li>
										<li class="nav-item">
											<a class="page-scroll" href="#about">Über Uns</a>
										</li>
										<li class="nav-item">
											<a class="page-scroll" href="#services">Leistungen</a>
										</li>
										<li class="nav-item">
											<a class="page-scroll" href="#team">Team</a>
										</li>
										<li class="nav-item">
											<a class="page-scroll" href="#gallery">Praxisrundgang</a>
										</li>
										<li class="nav-item">
											<a class="page-scroll" href="#anfahrt">Anfahrt</a>
										</li>
										<li class="nav-item">
											<a class="page-scroll" href="#contact">Kontakt</a>
										</li>
									</ul>
								</div> <!-- navbar collapse -->
							</nav> <!-- navbar -->
						</div>
					</div> <!-- row -->
				</div> <!-- container -->
			</div> <!-- navbar area -->
	</div>

	<div class="slider-wrapper">
		<!-- ========================= slider-section start ========================= -->
		<section class="slider-section">
			<div class="slider-active slick-style">
				<div class="single-slider img-bg" style="background-image:url('{% static "images/slider-1.jpg" %}');">
					<div class="container">
						<div class="row">
							<div class="col-xl-7 col-lg-8 col-md-10">
								<div class="slider-content">
									<h1 data-animation="fadeInDown" data-duration="1.5s" data-delay=".5s">
										Willkommen in der Hausarztpraxis Dipl med. Hanaa Ahmad
									</h1>
									<h3 class="text-white mb-3" data-animation="fadeInDown" data-duration="1.5s" data-delay=".7s">
										Fachärztin für innere Medizin
									</h3>	
									<p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".9s">
										Verlässliche Medizin – persönlich, nah, kompetent.
									</p>
									<a href="#about" class="btn theme-btn page-scroll" data-animation="fadeInUp" data-duration="1.5s"
										data-delay=".9s">
										Mehr dazu
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= slider-section end ========================= -->
	</div>
</header>
<!-- ========================= header end ========================= -->